<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/router_request.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <title>系统状态查看工具</title>
</head>
<body ng-app="app" ng-controller="InfoController">
<table class="table">
    <tr>
        <td ng-if="false">
            <input type="button" ng-value="current.config.stopped ? 'restart' : 'stop'" ng-click="current.toggle()">
        </td>
        <td>
            Interval: {{current.config.delay / 1000 | number : 1}}s
            <input type="button" value="-" ng-click="current.addDelay(-1)">
            <input type="button" value="+" ng-click="current.addDelay(1)">
        </td>
        <td>
            Count: {{current.config.itemCount}}
            <input type="button" value="-" ng-click="current.addProcessCount(-1)">
            <input type="button" value="+" ng-click="current.addProcessCount(1)">
        </td>
    </tr>
    <tr>
        <td>Memory: {{current.info.summary.memoryTotal/1024/1024 | number : 1}}MB</td>
        <td>Used: {{current.info.summary.memoryUsed/1024/1024 | number : 1}}MB, {{current.info.summary.memoryUsed*100/(current.info.summary.memoryTotal+1) | number : 1}}%</td>
    </tr>
    <tr>
        <td>Process: {{current.info.summary.processCount}}</td>
        <td>CPU: {{current.info.summary.cpuUsage / 10 | number : 1}}%</td>
    </tr>
</table>
<table>
    <tr>
        <td ng-repeat="item in current.columns">
            <label>{{item.keyName}}</label>
            <input type="checkbox" ng-model="item.selected" ng-true-value="true" ng-false-value="false">
        </td>
</table>
<table class="table table-striped">
    <tr class="info">
        <th ng-repeat="item in current.columns" ng-class="item.class" ng-show="item.selected">
            <a href="javascript:void(0)" ng-click="current.sortBy(item)">{{item.keyName}}{{current.getOrderIcon(item)}}</a>
        </th>
    </tr>
    <tr ng-repeat="process in current.info.processList">
        <td ng-class="item.class" ng-repeat="item in current.columns" ng-show="item.selected">{{item.trans(process[item.name])+item.unit}}</td>
    </tr>
</table>
<p class="text-center">(c)2015 www.miwifi.com SmartXiaoming LN: 5.</p>
<p class="text-center">{{current.config.errorText}}</p>
<script type="text/javascript">
var appId = "2882303761517311469";
var app = angular.module('app', []).controller('InfoController', function($scope, $timeout, $filter) {
    if (!routerRequest.hasAccessToken()) {
        routerRequest.authorize(window.location.href, appId);
    }

    $scope.parseInt = parseInt;
    $scope.current = (function(){
        var columns = [
            {name: "pid", unit:"", order:false, keyName:"PID", selected: true, class:"text-right", trans:function(a){return a;}},
            {name: "ppid", unit:"", order:false, keyName:"PPID", selected: false, class:"text-right", trans:function(a){return a;}},
            {name: "priority", unit:"", order:false, keyName:"PR", selected: false, class:"text-right", trans:function(a){return a;}},
            {name: "nice", unit:"", order:false, keyName:"NI", selected: true, class:"text-right", trans:function(a){return a;}},
            {name: "physicalMemory", unit:"K", order:false, keyName:"RES", selected: true, class:"text-right", trans:function(a){return a/1024;}},
            {name: "virtualMemory", unit:"K", order:false, keyName:"VIRT", selected: true, class:"text-right", trans:function(a){return a/1024;}},
            {name: "state", unit:"", order:false, keyName:"S", selected: false, class:"text-right", trans:function(a){return a;}},
            {name: "cpu", unit:"%", order:true, keyName:"CPU", selected: true, class:"text-right", trans:function(a){return $filter('number')(a/10, 1);}},
            {name: "threadCount", unit:"", order:false, keyName:"TC", selected: true, class:"text-right", trans:function(a){return a;}},
            {name: "name", unit:"", order:false, keyName:"COMM", selected: true, class:"text-left", trans:function(a){return a;}},
        ];
        var me = {
            columns: columns,
            config: {
                delay: 3000,
                refreshTime: 100,
                itemCount: 25,
                orderColumn: columns[7],
                asc: false,
                failedCount: 0,
                stopped: false,
                errorText: ""
            },
            info: {
                summary:{
                    cpuUsage:0,
                    processCount:0,
                    memoryTotal:0,
                    memoryUsed:0
                },
                processList:[]
            }
        };

        function logger(text) {
            errorText = text;
        }

        function normalize(min, max, real) {
            if (real < min) return min;
            if (real > max) return max;
            return real;
        }

        var sortBy = function (item) {
            if (me.config.orderColumn.name == item.name) {
                toggleOrder();
                return;
            }
            me.config.orderColumn.order = false;
            me.config.orderColumn = item;
            me.config.orderColumn.order = true;
        }

        var addProcessCount = function (sign) {
            var n = 5;
            if (me.config.itemCount > 50) {
                n = 10;
            } else if (me.config.itemCount >= 100) {
                n = 20;
            }
            me.config.itemCount = normalize(5, 200, me.config.itemCount + n * sign);
        }

        var addDelay = function (sign) {
            var n = 100;
            if (me.config.delay > 2000) {
                n = 500;
            } else if (me.config.delay >= 5000) {
                n = 1000;
            }
            me.config.delay = normalize(100, 10000, me.config.delay + n * sign);
        }

        var toggle = function () {
            if (me.config.stopped == true) {
                me.config.stopped = false;
                console.log("started");
                openPlugin();
            } else {
                me.config.stopped = true;
                console.log("stopped");
            }
        }

        var getOrderIcon = function (column) {
            if (!column.order) {
                return "";
            }
            return me.config.asc ?  "▲" : "▼";
        }

        var toggleOrder = function () {
            me.config.asc = !me.config.asc;
        }

        var request = function (path, info, success, error) {
            routerRequest.request({
                path: path,
                data: {
                    appId: appId,
                    info: info,
                    // deviceId: "cc05722b-18cb-47fe-826c-0bfdc31b3612"
                },
                success: function (data) {
                    console.log(data);
                    var result = JSON.parse(data);
                    if (success) {
                        success(result);
                    }
                },
                error: function (data) {
                    console.log("error:", data);
                    if (error) {
                        error(data);
                    }
                }
            });
        }

        var loop = function () {
            if (me.config.stopped) {
                return;
            }
            $timeout(function () {
                var info = "delay=" + me.config.delay
                        + "&count=" + me.config.itemCount
                        + "&orderKey=" + me.config.orderColumn.name
                        + "&asc=" + me.config.asc;
                request("/api-third-party/service/datacenter/plugin_control", info, function(result){
                    if (result.code != 0) {
                        console.log("更新失败", result);
                        me.config.failedCount += 1;
                        if (me.config.failedCount > 5) {
                            me.config.stopped = true;
                            console.log("failedCount:", me.config.failedCount)
                            logger("failedCount: " + me.config.failedCount + ", " + result.msg);
                        }
                    } else {
                        me.info = result.data;
                        me.config.failedCount = 0;
                        logger();
                    }
                    $scope.$apply();
                    loop();
                }, function(){
                    loop();
                });
            }, me.config.refreshTime);
        };

        var openPlugin = function () {
            request("/api-third-party/service/datacenter/get_plugin_status", "", function (result) {
                console.log(result);
                if (result.code != 0) {
                    console.log(result);
                    logger("Failed to get plugin state: " + result.msg);
                    return;
                }
                if (result.isEnable) {
                    if (!me.config.stopped) {
                        loop();
                    }
                    return;
                }
                request("/api-third-party/service/datacenter/plugin_enable", "", function (result) {
                    console.log(result);
                    if (result.code != 0) {
                        console.log(result);
                        logger("Failed to open plugin: " + result.msg);
                    } else {
                        if (!me.config.stopped) {
                            loop();
                        }
                    }
                });
            });
        };

        var closePlugin = function (state) {
            request("/api-third-party/service/datacenter/plugin_disable", "", function (result) {
                console.log(result);
                if (result.code != 0) {
                    console.log(result);
                    logger("Failed to close plugin: " + result.msg);
                }
            });
        };

        me.sortBy = sortBy;
        me.addDelay = addDelay;
        me.addProcessCount = addProcessCount;
        me.toggle = toggle;
        me.getOrderIcon = getOrderIcon;
        me.toggleOrder = toggleOrder;

        openPlugin();

        return me;
    })();
});
</script>
</body>
</html>
